body .container{
    min-width: 350px;
    max-height: 800px;
}

.toggleRow{
    border-bottom: #2196F3 solid 1px;
    margin-bottom: 10px;
}
.toggleText{
    margin-bottom: 15px;
    margin-left: 10px;
}
.btn-primary{
    margin: 10px 0;
    background-color: #2196F3;
    border: none;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 17px;
    right: 0;
    margin-right: 10px;
    margin-top: 3px
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}
